<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>About page</title>

  <link href="../static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="" style="width:100%">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row" style="font-size: 14px;width:100%;">
            <div class="col-md-10 col-md-offset-1">
              <div class="row" style="overflow: auto;">
                <div class="col-xs-12 col-md-6">
                  <h3>CARRIER OBJECTIVE</h3>
                  <p style="line-height: 1.8;text-align: justify;">Work for an organization which provides me the
                    opportunity to improve my skills and knowledge to
                    growth along with the organization.</p>
                  <h3>EDUCATION</h3>
                  <h4 style="font-size: 16px;">2016-2020</h4>
                  <h4 style="font-size: 16px;">National Institute Of Technology, Warangal</h4>
                  <p>Electronics and Communication Engineering <br> Aggregate (CGPA) - 7.78/10</p>
                  <h4 style="font-size: 16px;">2014 – 2016</h4>
                  <h4 style="font-size: 16px;">Narayana Junior College</h4>
                  <p>Aggregate (Percentage) - 98.3% <br> Board Of Intermediate Education, Andhra Pradesh</p>
                  <h4 style="font-size: 16px;">2013 – 2014</h4>
                  <h4 style="font-size: 16px;">Sarada Public School</h4>
                  <p>Aggregate (CGPA)-9.8/10 <br> Andhra Pradesh Board of Secondary Education</p>
                  <h3>TECHNICAL SKILLS</h3>
                  <p>C, C++, OOPS, Data Structures and Algorithms, HTML, CSS, JavaScript, Java, React, PHP, MySQL</p>
                  <h3>COMMUNICATION SKILLS</h3>
                  <table style="width:100%;">
                    <tr>
                      <td><b>Telugu</b></td>
                      <td>Native Speaker</td>
                    </tr>
                    <tr>
                      <td><b>Hindi</b></td>
                      <td>Oral: Good</td>
                    </tr>
                    <tr>
                      <td><b>English</b></td>
                      <td>Oral: Good, Written: Good</td>
                    </tr>
                  </table>
                  <h3>ACHIEVEMENTS</h3>
                  <ul>
                    <li style="margin-left:-20px">
                      <p>Awarded as the Best Student Of The Year for 2014 (Sarada Public
                        School)</p>
                    </li>
                    <li style="margin-left:-20px">
                      <p>Stood at second place in Narayana Junior College for securing 983</p>
                    </li>
                  </ul>
                  <h3>STRENGTHS</h3>
                  <ul>
                    <li style="margin-left:-20px">Hardworker</li>
                    <li style="margin-left:-20px">Quick learner</li>
                    <li style="margin-left:-20px">Goal oriented</li>
                    <li style="margin-left:-20px">Ability to work under pressure</li>
                    <li style="margin-left:-20px">Keen to learn and improve skills</li>
                  </ul>

                  <h3>HOBBIES</h3>
                  <ul>
                    <li style="margin-left:-20px">Playing cricket</li>
                    <li style="margin-left:-20px">Playing badminton</li>
                    <li style="margin-left:-20px">Listening to music</li>
                  </ul>
                  <h3>PERSONAL DETAILS</h3>
                  <table style="width: 100%;">
                    <tr>
                      <td><b>Name</b></td>
                      <td>Marabathula Harish</td>
                    </tr>
                    <tr>
                      <td><b>Father Name</b></td>
                      <td>Marabathula Sita Rambabu</td>
                    </tr>
                    <tr>
                      <td><b>Date Of Birth</b></td>
                      <td>13th Oct 1998</td>
                    </tr>
                    <tr>
                      <td><b>Marital Status</b></td>
                      <td>Single</td>
                    </tr>

                  </table>
                </div>
                <div class="col-xs-12 col-md-6" style="padding-top:15px;">
                  <img src="../static/assets/images/Marabathula_Harish.jpeg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>



  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
  <script type="text/javascript" src="../static/main.70a66962.js"></script>
</body>

</html>